<div class="container">
  <br>
  <h2><%=@video.video_name%></h2>
  <br>
  <iframe width="560" height="315" src="<%=@video.video_url%>" frameborder="0" allowfullscreen></iframe>
  <br>
  <div id="video-stats">
    <%if current_user%>
      <form action="/users/<%=current_user.id%>/videos/<%=@video.id%>" method='POST'>
        <div id="favorite_button"><input type="submit" value="Favorite This Video!"</div>
      </form>
    <%end%>
    <h4>Views: 0</h4>
    <h4 id="vid_likes">Likes: <%=@video.likes%></h4>
    <h4 id="vid_desc">Description: <%=@video.description%></h4>
    <h4 id="vid_tags">Tags: 
      <%@video.tags.each do |tag|%>
        <%=tag.name%>
      <%end%>
    </h4>
  </div>
  <%if current_user && is_owner?(current_user, @video)%>
    <form action="/videos/delete/<%=@video.id%>" method="POST">
      <input name="_method" type="hidden" value="delete" />
      <input type="submit" value="Delete"/>
    </form>
  <%end%>
</div>
