<div class="video_container">
  <br>
  <h2 id="vid_name"><%=@video.video_name%></h2>
  <iframe id="video" width="559" height="315" src="<%=@video.video_url%>" frameborder="0" allowfullscreen></iframe>
  <br>
  <div class="chatbox">
    <div id="messages">
    </div>
    <div id="chat_form">
      <form>
        <input id="chat" type="text">
        <input type="submit" value="chat">
      </form>
      <script>
        var exampleSocket = new WebSocket("ws://127.0.0.1:8080");
        exampleSocket.onmessage = function (event) {
          $(".container").append("<p>"+event.data+"</p>");
        }
        $("form").on("submit",function(event){
          event.preventDefault();
          exampleSocket.send($("#chat").val())
        })
      </script>
    </div>
  </div><br>
  <div id="video-stats">
    <%if current_user%>
      <form action="/users/<%=current_user.id%>/videos/<%=@video.id%>" method='POST'>
        <div id="favorite_button"><input type="submit" value="Favorite This Video!"</div>
      </form>
    <%end%>
    <p>Views: 0</p>
    <a href='/videos/<%= @video.id %>/like' class="fa fa-sort-desc vote-button"></a>
    <p id="vid_likes">Likes: <%=@video.likes%></p>
    <p id="vid_desc">Description: <%=@video.description%></p>
    <p id="vid_tags">Tags: 
      <%@video.tags.each do |tag|%>
        <%=tag.name%>
      <%end%>
    </p>
  </div>
  <%if current_user && is_owner?(current_user, @video)%>
    <form action="/videos/delete/<%=@video.id%>" method="POST">
      <input name="_method" type="hidden" value="delete" />
      <input type="submit" value="Delete"/>
    </form>
  <%end%>
</div>
